.card-container {
    justify-content: center;
    margin-top: 20px;
    align-items: flex-start;
    margin-bottom: 20px;
}

.card {
    margin: 0 50px;
    width: 300px;
}

.fcard-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: flex-start;
    margin-bottom: 20px;
}