.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
}

.user-card {
    width: 800px;
    margin-bottom: 24px;
}

.user-avatar {
    margin-top: 24px;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 128px;
}

.user-name {
    font-size: 24px;
    margin-bottom: 8px;
}

.user-email {
    font-size: 16px;
    color: #666;
}

.user-progress-card {
    width: 800px;
}

.user-progress-title {
    font-size: 18px;
    margin-bottom: 16px;
}

.user-progress {
    display: flex;
    align-items: center;
}

.user-progress-text {
    font-size: 24px;
    margin-right: 16px;
}